@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: white;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#clock {
  position: absolute;
  top: 4%;
  right: 4%;
  font-family: "Doto", sans-serif;
  font-weight: 800;
  font-size: 2.5em;
  color: white;
  mix-blend-mode: normal;
  /* for some reason adding z-index broke the clock?? LOL */
}

#main-container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 5;
}

#darkness {
  /* background-color: rgb(23, 35, 54, 0.5); */
  width: 100vw;
  height: 100vh;
  z-index: 10;
  position: absolute;
  mix-blend-mode: multiply;
}

#bg-image {
  width: auto;
  height: 100vh;
  z-index: -100;
}

/* animation */

@keyframes bounce1 {
  0% {
    left: 0;
    transform: scaleX(1);
  }
  48% {
    transform: scaleX(1);
  }
  50% {
    left: calc(100% - 15%);
    transform: scaleX(-1);
  }
  98% {
    transform: scaleX(-1);
  }
  100% {
    left: 0;
    transform: scaleX(1);
  }
}

@keyframes bounce1right {
  0% {
    right: 0;
    transform: scaleX(-1);
  }
  48% {
    transform: scaleX(-1);
  }
  50% {
    right: calc(100% - 15%);
    transform: scaleX(1);
  }
  98% {
    transform: scaleX(1);
  }
  100% {
    right: 0;
    transform: scaleX(-1);
  }
}

@keyframes bounce2right {
  0% {
    right: 25%;
    transform: scaleX(-1);
  }
  48% {
    transform: scaleX(-1);
  }
  50% {
    right: 80%;
    transform: scaleX(1);
  }
  98% {
    transform: scaleX(1);
  }
  100% {
    right: 25%;
    transform: scaleX(-1);
  }
}

@keyframes bounce2 {
  0% {
    left: 50%;
    transform: scaleX(1);
  }
  48% {
    transform: scaleX(1);
  }
  50% {
    left: calc(100% - 15%);
    transform: scaleX(-1);
  }
  98% {
    transform: scaleX(-1);
  }
  100% {
    left: 50%;
    transform: scaleX(1);
  }
}

@keyframes bounce3 {
  0% {
    left: 10%;
    transform: scaleX(1);
  }
  48% {
    transform: scaleX(1);
  }
  50% {
    left: 60%;
    transform: scaleX(-1);
  }
  98% {
    transform: scaleX(-1);
  }
  100% {
    left: 10%;
    transform: scaleX(1);
  }
}

/* fish pictures */

#fish-test {
  position: absolute;
  animation: linear infinite;
  animation-name: bounce1;
  animation-duration: 10s;
  width: 16%;
  height: auto;
  max-width: none;
  top: 50%;
  z-index: 1;
}

#blue-tang2 {
  position: absolute;
  animation: linear infinite;
  animation-name: bounce2;
  animation-duration: 15s;
  width: 16%;
  height: auto;
  max-width: none;
  top: 20%;
  z-index: 2;
}

#nemo {
  position: absolute;
  animation: linear infinite;
  animation-name: bounce3;
  animation-duration: 8s;
  width: 10%;
  height: auto;
  max-width: none;
  top: 70%;
  z-index: 2;
}

#discus {
  position: absolute;
  animation: linear infinite;
  animation-name: bounce1right;
  animation-duration: 20s;
  width: 15%;
  height: auto;
  max-width: none;
  top: 35%;
  z-index: 5;
}

#yellow-fish {
  position: absolute;
  animation: linear infinite;
  animation-name: bounce1right;
  animation-duration: 9s;
  width: 15%;
  height: auto;
  max-width: none;
  top: 75%;
  z-index: 0;
}

#sexy {
  position: absolute;
  animation: linear infinite;
  animation-name: bounce2right;
  animation-duration: 13s;
  width: 10%;
  height: auto;
  max-width: none;
  top: 40%;
  z-index: 4;
}

/* bubbles */
#bubbles1 {
  width: auto;
  height: 100vh;
  left: 10%;
  z-index: 1;
  position: absolute;
  opacity: 0.8;
}
